<div class="mx-auto">
  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Enviando...</p>
  </ngx-spinner>
   
   <!--HEADER-->
  <div id="header">
    <nav>
        <div class="md:flex items-center justify-between py-2 px-8 md:px-12">
            <div class="flex justify-between items-center">
              <img src="assets/img/MirsanLogo.png" alt="Mirsan Lab. Logo" class="h-10">
              <div class="text-2xl font-bold text-[#444747] md:text-3xl px-4 shadow-text">
                <a href="#">Mirsan Lab.</a>
              </div>
              
            </div>
              <div class=" flex-col md:flex-row hidden md:block -mx-2">
                  <a href="#header" class="text-[#444747] rounded hover:bg-[#7bc2b0] hover:text-[#4d433f] hover:font-medium py-2 px-2 md:mx-2 transition duration-300 ease-in-out transform hover:scale-110">Home</a>
                  <a href="#nosotros" class="text-[#444747] rounded hover:bg-[#7bc2b0] hover:text-[#4d433f] hover:font-medium py-2 px-2 md:mx-2 transition duration-300 ease-in-out transform hover:scale-110">Nosotros</a>
                  <a href="#contact-form" class="text-[#444747] rounded hover:bg-[#7bc2b0] hover:text-[#4d433f] hover:font-medium py-2 px-2 md:mx-2 transition duration-300 ease-in-out transform hover:scale-110">Contacto</a>
              </div>
              
          </div>
      </nav>
      <div class="flex" style="height:500px;">
          <div class="flex items-center text-center lg:text-left px-8 md:px-12 lg:w-1/2"  data-aos="zoom-in-down">
              <div>
                  <h1 class="text-3xl font-semibold text-[#444747] md:text-4xl shadow-text">Tu laboratorio de confianza</h1>
                  <p class="mt-2 font-semibold text-sm text-[#444747] md:text-base">En nuestro laboratorio, no solo nos especializamos en pruebas y análisis de alta precisión, sino que también nos dedicamos a brindar una experiencia única para cada paciente.</p>
                  <div class="flex justify-center lg:justify-start mt-6">
                      <a href="#contact-form" class="px-4 py-3 bg-gray-900 text-gray-200 text-xs font-semibold rounded hover:bg-gray-800">Contáctenos</a>
                  </div>
              </div>
          </div>
          
          <div class="hidden lg:block lg:w-1/2" style="clip-path:polygon(25% 0, 100% 0%, 100% 100%, 0 100%)">
              <div class="h-full bg-cover bg-center" style="background-image: url('assets/img/analisis-fondo.jpg')">
                  <div class="h-full bg-black opacity-25"></div>
              </div>
          </div>
      </div>
    </div>

    <!--NOSOTROS-->
    <div class="container mx-auto py-10" id="nosotros">
    
      <div class="relative rounded-lg flex flex-col md:flex-row items-center md:shadow-xl md:h-72 mx-2" data-aos="fade-up">
        <div class="z-0 order-1 md:order-2 relative w-full md:w-2/5 h-80 md:h-full overflow-hidden rounded-lg md:rounded-none md:rounded-r-lg">
            <div class="absolute inset-0 w-full h-full object-fill object-center bg-blue-400 bg-opacity-30 bg-cover bg-bottom" style="background-image: url( assets/img/servicio-1.jpg ); background-blend-mode: multiply;"></div>
            <div class="md:hidden absolute inset-0 h-full p-6 pb-6 flex flex-col-reverse justify-start items-start bg-gradient-to-b from-transparent via-transparent to-gray-900">
              <h3 class="w-full font-bold text-2xl text-white leading-tight mb-2">Tecnología de Vanguardia</h3>
            </div>
            <svg class="hidden md:block absolute inset-y-0 h-full w-24 fill-current text-white -ml-12" viewBox="0 0 100 100" preserveAspectRatio="none">
              <polygon points="50,0 100,0 50,100 0,100" />
            </svg>
        </div>
  
        <div class="z-10 order-2 md:order-1 w-full h-full md:w-3/5 flex items-center -mt-6 md:mt-0">
          <div class="p-8 md:pr-18 md:pl-14 md:py-12 mx-2 md:mx-0 h-full bg-white rounded-lg md:rounded-none md:rounded-l-lg shadow-xl md:shadow-none">
            <h3 class="hidden md:block font-bold text-2xl text-gray-700">Tecnología de Vanguardia</h3>
            <p class="text-gray-600 text-justify mt-6">En nuestro laboratorio, contamos con tecnología de última generación para realizar una amplia variedad de estudios clínicos.
              Utilizamos equipos avanzados que nos permiten obtener resultados precisos y confiables en el menor tiempo posible.</p>
          </div>
        </div>
  
      </div>



      <div class="relative rounded-lg flex flex-col md:flex-row items-center md:shadow-xl md:h-72 mx-2 my-10" data-aos="fade-up">
      
        <div class="z-0 order-1 md:order-2 relative w-full md:w-2/5 h-80 md:h-full overflow-hidden rounded-lg md:rounded-none md:rounded-r-lg">
          <div class="absolute inset-0 w-full h-full object-fill object-center bg-blue-400 bg-opacity-30 bg-cover bg-bottom" style="background-image: url( assets/img/servicio-2.jpg ); background-blend-mode: multiply;"></div>
          <div class="md:hidden absolute inset-0 h-full p-6 pb-6 flex flex-col-reverse justify-start items-start bg-gradient-to-b from-transparent via-transparent to-gray-900">
              <h3 class="w-full font-bold text-2xl text-white leading-tight mb-2">Atención Personalizada</h3>
          </div>
          <svg class="hidden md:block absolute inset-y-0 h-full w-24 fill-current text-white -ml-12" viewBox="0 0 100 100" preserveAspectRatio="none">
              <polygon points="50,0 100,0 50,100 0,100" />
          </svg>
      </div>

      <div class="z-10 order-2 md:order-1 w-full h-full md:w-3/5 flex items-center -mt-6 md:mt-0">
          <div class="p-8 md:pr-18 md:pl-14 md:py-12 mx-2 md:mx-0 h-full bg-white rounded-lg md:rounded-none md:rounded-l-lg shadow-xl md:shadow-none">
              <h3 class="hidden md:block font-bold text-2xl text-gray-700">Atención Personalizada</h3>
              <p class="text-gray-600 text-justify mt-6">En Mirsan Lab, creemos en brindar una atención personalizada a cada paciente. Además, trabajamos con eficiencia para entregar los resultados en tan solo 48 horas, para que pueda obtener la información
                que necesita de manera rápida y oportuna.</p>
          </div>
      </div>

      </div>
  </div>

  <!--galeria-->
  <section class="text-gray-600 body-font pb-12">
    <div class="container mx-auto px-2" id="galeria">
      <div class="flex flex-col text-center w-full mb-20">
        <h2 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Galeria de fotos</h2>
      </div>
      <div class="container mx-auto p-4">
        <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
          <div class="grid gap-4">
            <div data-aos="flip-up">
              <img
                class="h-auto max-w-full rounded-lg"
                src="assets/img/galeria-1.jpeg"
                alt=""
              />
            </div>
            <div data-aos="flip-left">
              <img
                class="h-auto max-w-full rounded-lg"
                src="assets/img/galeria-2.jpeg"
                alt=""
              />
            </div>
            <div data-aos="zoom-in">
              <img
                class="h-auto max-w-full rounded-lg"
                src="assets/img/galeria-3.jpeg"
                alt=""
              />
            </div>
          </div>
          <div class="grid gap-4">
            <div data-aos="zoom-out">
              <img
                class="h-auto max-w-full rounded-lg"
                src="assets/img/galeria-4.jpeg"
                alt=""
              />
            </div>
            <div data-aos="zoom-out">
              <img
                class="h-auto max-w-full rounded-lg"
                src="assets/img/galeria-5.jpeg"
                alt=""
              />
            </div>
            <div data-aos="flip-up">
              <img
                class="h-auto max-w-full rounded-lg"
                src="assets/img/galeria-6.jpeg"
                alt=""
              />
            </div>
          </div>
          <div class="grid gap-4">
            <div data-aos="flip-up">
              <img
                class="h-auto max-w-full rounded-lg"
                src="assets/img/galeria-7.jpeg"
                alt=""
              />
            </div>
            <div data-aos="zoom-out">
              <img
                class="h-auto max-w-full rounded-lg"
                src="assets/img/galeria-8.jpeg"
                alt=""
              />
            </div>
            <div data-aos="zoom-in">
              <img
                class="h-auto max-w-full rounded-lg"
                src="assets/img/galeria-8.jpeg"
                alt=""
              />
            </div>
          </div>
          <div class="grid gap-4">
            <div data-aos="flip-left">
              <img
                class="h-auto max-w-full rounded-lg"
                src="assets/img/galeria-9.jpeg"
                alt=""
              />
            </div>
            <div data-aos="flip-up">
              <img
                class="h-auto max-w-full rounded-lg"
                src="assets/img/galeria-10.jpeg"
                alt=""
              />
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>


  <!--ubicacion-->
  <div class="bg-radial-gradient pt-2 pb-2">
    <section class="text-white body-font">
        <div class="container px-2 mt-10" id="ubicacion">
            <div class="flex flex-col text-center mb-20">
                <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-white-900">Ubicación</h1>
                <p class="lg:w-2/3 mx-auto leading-relaxed text-base">San Juan 335, Quitilipi Chaco, Argentina.</p>
                <div class="mx-auto lg:w-2/3 sm:w-full lg:h-96 sm:h-72">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13822.97542171285!2d-60.21705998643466!3d-26.870742630033593!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94f0006427e64db1%3A0x53c1c50fddeef1e3!2sSan%20Juan%20335%2C%20H3722%20Quitilipi%2C%20Chaco!5e0!3m2!1sen!2sar!4v1647312464792!5m2!1sen!2sar"
                        style="width: 100%; height: 100%;" allowfullscreen="" loading="lazy" class="w-full h-full"></iframe>
                </div>
            </div>
        </div>
    </section>
  </div>



  <!--CONTACTO-->
  <div id="contact-form" class="flex my-16 items-center justify-start">
    <div class="mx-auto w-full max-w-lg shadow-lg rounded-2xl p-4 my-3" data-aos="zoom-out-right">
      <h1 class="text-4xl font-medium text-center shadow-text">Contáctenos!</h1>
      <p class="mt-4 mb-4">Envianos un email a <a href="mailto:mirsanlab@gmail.com" class="text-blue-600 hover:underline">mirsanlab@gmail.com</a> o escribe un mensaje aquí:</p>
  
      <form #emailForm="ngForm" (ngSubmit)="enviarEmail(emailForm.value)">
  
        <input type="hidden" name="access_key" value="YOUR_ACCESS_KEY_HERE" /> 
        <div class="grid gap-6 sm:grid-cols-2">
          <div class="relative z-0">
            <input [(ngModel)]="name" type="text" name="name" required class="peer block w-full appearance-none border-0 border-b border-gray-500 bg-transparent py-2.5 px-0 text-sm text-gray-900 focus:border-blue-600 focus:outline-none focus:ring-0" placeholder=" " />
            <label class="absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-sm text-gray-500 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:text-blue-600 peer-focus:dark:text-blue-500">Nombre</label>
          </div>
          <div class="relative z-0">
            <input [(ngModel)]="email" type="text" name="email" required class="peer block w-full appearance-none border-0 border-b border-gray-500 bg-transparent py-2.5 px-0 text-sm text-gray-900 focus:border-blue-600 focus:outline-none focus:ring-0" placeholder=" " />
            <label class="absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-sm text-gray-500 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:text-blue-600 peer-focus:dark:text-blue-500">Su email</label>
          </div>
          <div class="relative z-0 col-span-2">
            <textarea [(ngModel)]="message" name="message" required rows="5" class="peer block w-full appearance-none border-0 border-b border-gray-500 bg-transparent py-2.5 px-0 text-sm text-gray-900 focus:border-blue-600 focus:outline-none focus:ring-0" placeholder=" "></textarea>
            <label class="absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-sm text-gray-500 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:text-blue-600 peer-focus:dark:text-blue-500">Escriba aquí el mensaje</label>
          </div>
        </div>
        <button type="submit" [disabled]="!emailForm.valid" class="mt-5 rounded-md px-10 py-2 text-white  
        bg-black enabled:hover:border-gray-400 disabled:opacity-75 
        {{ !emailForm.valid ? 'bg-gray-500 cursor-not-allowed' : 'bg-black hover:bg-gray-700' }}">Enviar!</button>
      </form>
    </div>
  </div>

  <!--FOOTER-->
  <footer class="bg-gradient-to-r from-[#263138] to-white">
    <div class="max-w-screen-xl px-4 py-2 sm:px-2 lg:px-2">
      <div class="grid grid-cols-1 gap-8 lg:grid-cols-3">
        <div>
          <div class="flex items-center">
            <img src="assets/img/MirsanLogo.png" alt="Mirsan Lab. Logo" class="h-6 w-6 invert-logo" />
            <div class="text-lg font-bold text-white md:text-xl p-2">
              <a href="#header" class="shadow-text">Mirsan Lab.</a>
            </div>
          </div>
    
          <p class="max-w-xs mt-4 text-sm text-white">
            Tu laboratorio de confianza.
          </p>
          <div class="flex mt-8 space-x-6 text-white">
            <a class="hover:opacity-75" href="https://www.facebook.com/miriam.sandoval.31105" rel="noreferrer">
              <span class="sr-only"> Facebook </span>
              <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                <path fillRule="evenodd" d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z" clipRule="evenodd" />
              </svg>
            </a>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-8 lg:col-span-2 sm:grid-cols-2 lg:grid-cols-4">
          <div>
            <p class="font-medium text-white">
              Información
            </p>
            <nav class="flex flex-col mt-4 space-y-2 text-sm text-white">
              <a class="hover:opacity-75" href="#nosotros"> Nosotros </a>
            </nav>
          </div>
          <div>
            <p class="font-medium text-white">
              Helpful Links
            </p>
            <nav class="flex flex-col mt-4 space-y-2 text-sm text-white">
              <a class="hover:opacity-75" href="#ubicacion"> Ubicacion </a>
              <a class="hover:opacity-75" href="#contact-form"> Envianos un correo! </a>
            </nav>
          </div>
        </div>
      </div>
      <p class="mt-8 text-xs text-white">
        © 2023 Mirsan Lab
      </p>
    </div>
  </footer>
  

</div>